body {
  font: 21px Georgia, Cambria;
  background-color: #faf8f2;
}
#root{
  width: 860px;
  height: 100%;
}
.bg{
  width: 860px;
  height: 100%;
  position:fixed;
  background-color:rgba(255,255,255,0.8);
  z-index: -100;
  top: 0;
}

.loading{
  background-color: rgba(255,255,255,0.8);
  width: 860px;
  height: 100%;
  position:fixed;
  display: table;
  text-align: center;
}
.loading .msg{
  vertical-align: middle;
  display: table-cell;
}

.bd {
  padding: 28px 48px;

}
.main{
  margin: 0px;
 

  line-height: 32px;
  
}
.main li{
  line-height: 210%;
}
.main li a{
  font-size: 22px;
  font-weight: 500;
  color: rgba(0,0,0,0.8);
  
}
.main .title{
  font: 46px "Helvetica Neue", Helvetica;
  font-weight: 700;
  line-height: 56px;
}
.site-title{
  padding-bottom: 24px;
}

@media screen and (max-width: 860px) {
  #root, .loading, .bg {
    width: 100%;
  }
  h1{
    line-height: 120%;
  }
  .site-title{
    padding-top: 24px;
  }
}
@media screen and (max-width: 500px) {
body{
  font-size: 18px;
}
.bd {
  padding: 0;
  margin: 0 24px;
}
}